alacritty/themes/
dconf/
discord/
mozc/
spotify/
hypr/
mpv/
session/
waybar/
yay/
autorandr/
dolphinrc
kconf_updaterc
kdeglobals
kde.org/
pacmixer/
systemd/
gtk-3.0/
ibus/
pulse/
htop/
awesome/src/theme/wallpapers/
